{% extends 'base.html'  %}
{% block title %} - Property{% endblock %}

{% block h2 %}Property{% endblock%}
{% block content %}


{% for att, v in prop.__dict__.items() if 'save' not in att and 'search' not in att and 'instance' not in att and 'json' not in att and 'id' not in att %}
<p>
	{{ att.replace('_', ' ').title() }}: {{ v if v != None else 'N/A' }}
</p>
{% endfor %}

<br>
<p>
	Cap Rate: {{ "{:,.2f}%".format(prop.cap_rate()*100) }}
</p>
<p>
	Yearly Rent: {{ "${:,.2f}".format(prop.yearly_rent()) }}
</p>
<p>
	Yearly Expenses: {{ "${:,.2f}".format(prop.yearly_expenses()) }}
</p>
<p>
	Yearly Net: {{ "${:,.2f}".format(prop.net_rent()) }}
</p>
<p>
	Monthly Net: {{ "${:,.2f}".format(prop.net_rent()/12) }}
</p>

<a class="b-button" href="/property/{{prop.id}}/edit">Edit Property</a>

<p hidden data-json='{{(prop.json or {}).get("address")}}'> <p>




{% endblock %}


